h1{
    color: blueviolet;
    font-size: 70px;
}
h2{
    color: aqua;
}

#Matt
{
    color: tomato;
}
.parrafo{
    color: white;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}